@import mixins

.block-container
  width: 100%
  border-top: 5px solid $secondary-color
  border-bottom: 5px solid $secondary-color

  &.light
    background-color: $tertiary-color
    color: $primary-text-color

  &.dark
    background-color: $primary-color
    color: $secondary-text-color

  .block
    height: 100%
    margin: 150px auto

    &.full
      max-width: $max-width
      width: 100%

    .title
      display: block
      font-family: $primary-font
      text-align: center
      font-weight: bold
      font-size: 40px
      font-size: 2em

    .text
      display: block
      font-family: $secondary-font
      text-align: center
      max-width: 70%
      margin: 0 auto
      font-size: 24px
      font-size: 1.2em
      line-height: 30px
      line-height: 1.5em
      padding-top: 40px

    .events
      width: 100%
      max-width: $max-width
      padding-bottom: 100px

      .today
        width: 90%
        margin: auto
        padding-bottom: 30px
        font-size: .8em
        text-align: right

      .event
        display: table
        width: 90%
        border: 1px solid white
        padding: 10px
        margin: 20px auto

        .name
          display: table-cell
          vertical-align: middle
          width: 65%

        .hint
          font-size: .7em
          display: table-cell
          vertical-align: middle
          padding-top: 3px

        .date
          display: table-cell
          vertical-align: middl
          float: right

        &:hover
          background-color: $tertiary-color
          color: $primary-color
          cursor: pointer

    .event-title
      padding-top: 100px
      padding-bottom: 10px
