@import mixins

.block-container
  width: 100%
  border-top: 5px solid $secondary-color
  border-bottom: 5px solid $secondary-color
  position: relative
  background-size: 100% auto
  background-repeat: no-repeat
  background-position: center center

  &.light
    background-color: $tertiary-color
    color: $primary-text-color

    a
      color: black

      &:hover
        color: gray

  &.dark
    background-color: $primary-color
    color: $secondary-text-color

    a
      color: $secondary-text-color

  .block
    height: 100%
    box-sizing: border-box
    position: relative

    .block
      border: 1px solid white

      &:hover
        .overlay
          display: none

      &.full
        margin: 60px auto
        padding: 40px 0

    &.full
      max-width: $max-width
      width: 100%
      margin: 100px auto

    &.left, &.right
      display: inline-block
      max-width: $max-width/2
      width: 47%
      padding: 60px 0
      border: 1px solid white
      min-height: 580px

    &.right
      float: right

    .overlay
      position: absolute
      background-color: black
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      background-position: 50% 50%

      .title
        position: absolute
        top: 40%
        width: 100%

    .title
      display: block
      font-family: $primary-font
      text-align: center
      font-weight: bold
      font-size: 40px
      font-size: 2em
      text-transform: Uppercase

      &.event-title
        padding-bottom: 10px

      &.smaller
        font-size: 30px
        font-size: 1.5em

    .text
      display: block
      font-family: $secondary-font
      text-align: center
      max-width: 70%
      margin: 0 auto
      font-size: 24px
      font-size: 1.2em
      line-height: 30px
      line-height: 1.5em
      padding-top: 40px

      &:first-child
        padding-top: 0px

      &.address
        font-family: $primary-font

      &.small
        font-size: 18px
        font-size: .9em

    .link
      display: block
      text-align: center
      padding-top: 50px
      margin: 0 auto
      font-weight: bold
      text-transform: Uppercase

    .events
      width: 100%
      max-width: $max-width

      .today
        width: 90%
        margin: auto
        padding-bottom: 30px
        font-size: .8em
        text-align: right

      .event
        display: table
        width: 90%
        border: 1px solid black
        padding: 10px
        margin: 20px auto

        .name
          display: table-cell
          vertical-align: middle
          width: 65%

        .hint
          font-size: .7em
          display: table-cell
          vertical-align: middle
          padding-top: 3px

        .date
          display: table-cell
          vertical-align: middl
          float: right

        &:hover
          background-color: $primary-color
          color: white
          cursor: pointer

    .imgur-album
      .logo
        display: none
      img
        border: 1px solid white

    .profile
      display: block
      margin-bottom: 40px

      img
        display: inline-block
        width: 30%
        vertical-align: top
      .info-container
        display: inline-block
        width: 65%
        float: right
        .name
          font-weight: bold
          font-size: 22px
          font-size: 1.1em
        .role
          font-weight: bold
        .bio
          padding-top: 20px
          font-family: $secondary-font
          font-size: 18px
          font-size: .9em

    .articles-container
      position: relative
      display: block
      margin: 0 auto
      margin-top: 50px
      width: 80%

      .article
        display: table
        vertical-align: top
        position: absolute

        img
          position: absolute
          width: 100%
          height: 100%
          border: 2px solid rgba(0,0,0,0)

        .name
          position: absolute
          display: inline-block
          top: 40%
          width: 100%
          text-align: center

        a
          position: absolute
          width: 100%
          height: 100%
          top: 0px

        .link
          position: relative

    .galleries-container
      margin-top: 50px

      .gallery
        display: inline-block
        position: relative

        img
          width: 100%
          height: 100%
          border: 5px solid rgba(0,0,0,0)
          z-index: 10

        .overlay, .name
          position: absolute
          width: 100%
          background-color: black
          background-clip: padding-box
          border: 5px solid rgba(0,0,0,0)
          opacity: 0

        .overlay
          top: 0px
          height: 100%
          -webkit-transition: opacity 2s
          transition: opacity 2s

        .name
          top: 45%
          vertical-align: middle
          text-align: center
          color: $secondary-text-color
          -webkit-transition: opacity 1s
          transition: opacity 1s

        &:hover
          .overlay
            opacity: .5
          .name
            opacity: 1

    .perks-container
      margin: 0 auto
      margin-top: 50px
      overflow: auto
      width: 912px

      .perk
        display: inline-block
        width: 300px
        height: 300px
        position: relative
        background-position: 50% 50%
        margin-bottom: 8px
        border: 1px solid white

        &:hover
          .overlay
            display: none

        .name.title
          margin-top: 20px

        .amount
          text-align: center

        .description
          text-align: center
          margin-top: 10px

    .supporter-list
      padding-top: 40px

      .supporter
        display: inline-block
        background-color: lightgray
        padding: 10px
        color: black
        min-width: 100px
        text-align: center
        margin: 5px

    .tabs
      text-align: center

      .tab
        display: inline
        padding: 2px 5px

        &.active
          font-weight: bold
          border-bottom: 1px solid white

        &:hover
          cursor: pointer

    .people-list
      padding-top: 40px
      width: 100%

      .person
        position: relative
        display: inline-block
        margin: 10px
        width: 180px
        height: 180px

        .picture
          width: 100%
          height: 100%
          background-position: center top

        .overlay
          opacity: 0
          background-color: black
          position: absolute
          width: 100%
          height: 100%
          top: 0px

          .name
            position: absolute
            text-align: center
            top: 45%
            width: 100%

          &.active
            opacity: .5

        &:hover
          .overlay
            opacity: .5

    .article
      .image
        height: 300px
        width: 500px
        background-position: center center
        background-size: auto 500px
        margin: 0 auto
        margin-top: 40px
        border: 5px solid lightgray

      .text
        font-size: 20px
        font-size: 1em

      .date
        padding-top: 40px
        text-align: right
        font-size: 14px
        font-size: .7em
        font-weight: bold

    .program-list-title
      display: block
      text-transform: Uppercase
      padding-top: 40px
      text-align: center
      font-weight: bold

    .program-list
      .program
        display: block
        padding-top: 20px
        text-align: center
        font-weight: bold
        font-size: 24px
        font-size: 1.2em

  .googlemap
    width: 100%
