.event-popup {
  position: fixed;
  border: 5px solid #bbbbbb;
  background-color: white;
  max-width: 500px;
  height: 50vh;
  width: 80%;
  z-index: 30;
  margin: 0 auto;
  top: 20%;
  left: 0;
  right: 0;
  border-radius: 5px; }
  .event-popup .name {
    text-align: center;
    font-size: 40px;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #bbbbbb; }
  .event-popup .date, .event-popup .time {
    text-align: right;
    font-size: 18px;
    font-size: 0.9em;
    padding: 0 10px; }
  .event-popup .description {
    font-family: "Crimson Text", serif;
    padding: 30px;
    font-size: 18px;
    font-size: 0.9em; }
  .event-popup .link {
    position: absolute;
    font-size: 12px;
    font-size: 0.6em;
    bottom: 5px;
    right: 5px; }
  .event-popup .close {
    position: absolute;
    right: 7px;
    top: 5px; }
