.social-sidebar {
  position: fixed;
  margin-top: 65px;
  padding-top: 20px;
  z-index: 98;
  width: 60px;
  background-color: #373737;
  padding-left: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid black; }
  .social-sidebar .icon {
    display: block;
    font-size: 1.3em;
    opacity: 0.5;
    color: white;
    padding-bottom: 20px; }
    .social-sidebar .icon:hover {
      opacity: 1; }
