---
title: Galleries
published: true
listed: true
position: 2
parent: Press
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title GALLERIES
    .galleries-container
      {% for gallery in contents.galleries %}
      .gallery
        %img{src: "{{ gallery.cover.url }}"}
        %a.overlay{href: "/galleries/{{ gallery._slug}}"}
        %a.name{href: "/galleries/{{ gallery._slug}}"} {{ gallery.name | escape }}
      {% endfor %}

      :javascript
        $(document).ready(function() {
          var container = $('.galleries-container');
          var size = container.width()/3-5;
          galleries = $('.gallery');
          for (i=0; i<galleries.length; i++) {
            $(galleries[i]).css({ height: size, width: size });
          }
        })

.block-container.light
  .block.full
    .title VIDEOS
    .galleries-container
      {% for video in contents.videos %}
      .gallery
        %img{src: "{{ video.cover.url }}"}
        %a.overlay{onclick: 'openVideo("{{ video.embed }}")'}
        %a.name{onclick: 'openVideo("{{ video.embed }}")'} {{ video.name | escape }}
      {% endfor %}

.video-popup{style: "display:none;"}
  .overlay
  .frame-container
    .close{onclick: "closeVideo()"}
  .notice Press anywhere to close

  :javascript
    function openVideo(embed) {
      console.log("opening");
      $('.frame-container').append('<iframe src="https://www.youtube.com/embed/' + embed + '?autoplay=1" frameborder="0" allowfullscreen></iframe>')
      $('.video-popup').show();
    }

    function closeVideo() {
      $('.frame-container iframe').remove();
      $('.video-popup').hide();
    }

{% endblock %}
