---
title: Reviews
published: true
listed: true
position: 1
parent: Press
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title Reviews
.article-list
  {% for article in contents.articles %}
  {% if article.source == "external" %}
  .article{style: "background-image: url('{{ article.image.url }}')"}
    .overlay
      .tint
      .quote "{{ article.quote }}"
      .author - {{ article. author }}
      %a.link{href: "{{ article.link }}"}
  {% endif %}
  {% endfor %}
{% endblock %}
