@import mixins

body.index
  main
    .banner-container
      background-color: black

      .banner
        display: table
        position: relative
        padding-top: $header-height
        top: 50%
        margin-left: auto
        margin-right: auto
        min-height: 310px
        min-width: 700px
        width: 100%

        .title
          display: table-cell
          position: absolute
          color: $secondary-text-color
          text-align: center
          z-index: 10
          width: 100%
          top: 48%
          font-size: 3.0em

        video
          display: block
          width: 100%
          height: auto
          z-index: 15

        .button
          display: table-cell
          position: absolute
          color: $secondary-text-color
          z-index: 20
          width: 40px
          height: 40px

          &:hover
            cursor: pointer

          &.play
            background-image: url("/images/icon_set_player.svg")
            background-position: 82px 0px
            background-size: 125px
            bottom: 10px
            right: 10px

          &.pause
            background-image: url("/images/icon_set_player.svg")
            background-position: 82px 40px
            background-size: 125px
            right: 10px
            bottom: 10px

          &.mute
            background-image: url("/images/unmute.svg")
            background-size: 40px
            right: 10px
            bottom: 55px

          &.unmute
            background-image: url("/images/mute.svg")
            background-size: 40px
            right: 10px
            bottom: 55px

    .block
      .overlay
        &.contribute
          background-image: url("/images/image1.jpg")

        &.about
          background-image: url("/images/image2.jpg")

        &.newsletter
          background-image: url("/images/image3.jpg")