<div class='footer-container'>
  <div class='footer'>
    <p class='title'>&copy; Eryc Taylor Dance, Inc {{ now | localized_date: '%Y' }}</p>
    {% include social-media %}
    <a class='contact' href='/contact'>Contact Us</a>
    <a class='email' href='mailto:andrew@eryctaylordance.com'>andrew@eryctaylordance.com</a>
    <a class='phone' href='tel:14752351268'>(475) 235-1268</a>
  </div>
</div>
