.footer-container
  .footer
    %p.title &copy; Eryc Taylor Dance, Inc {{ now | localized_date: '%Y' }}
    {% include social-media %}
    %a.contact{href:"/contact"} Contact Us
    %a.email{href:"mailto:andrew@eryctaylordance.com"} andrew@eryctaylordance.com
    %a.phone{href:"tel:14752351268"} (475) 235-1268
