.header-container
  .header
    %a{href:"/"}
      .logo
    %a.icon.icon-home-circled{href:"/"}
    .title Eryc Taylor Dance
    .links
      {% nav site, depth: 2, no_wrapper: true, exclude: nil, icon: false %}
