.header-container
  .header
    %a.logo-container{href:"/"}
      .logo
    %a.icon.icon-home{href:"/"}
    .title Eryc Taylor Dance
    .mobile-dropdown.icon-menu{onclick: "toggleMenu()"}
    .links
      {% nav site, depth: 2, no_wrapper: true, exclude: nil, icon: false %}

    :javascript
      function toggleMenu() {
        $(".header .links").toggle();
      }