<div class='social-media'>
  <a class='icon facebook icon-facebook-squared' href='https://www.facebook.com/eryc.dance'></a>
  <a class='icon twitter icon-twitter-squared' href='https://www.twitter.com/eryctaylordance'></a>
  <a class='icon linkedin icon-linkedin-squared' href='https://www.linkedin.com/pub/eryc-taylor/3/669/70a'></a>
  <a class='icon youtube icon-youtube-squared' href='https://www.youtube.com/eryctaylordance'></a>
  <a class='icon instgram icon-instagramm' href='https://instagram.com/eryctaylordance'></a>
  <a class='icon vimeo icon-vimeo-squared' href='https://vimeo.com/eryctaylordance'></a>
</div>
