.social-media
  %a.icon.facebook{href:"https://www.facebook.com/eryc.dance"}
  %a.icon.twitter{href:"https://www.twitter.com/eryctaylordance"}
  %a.icon.linkedin{href:"https://www.linkedin.com/pub/eryc-taylor/3/669/70a"}
  %a.icon.youtube{href:"https://www.youtube.com/eryctaylordance"}