.social-media
  %a.icon.facebook.icon-facebook-squared{href:"https://www.facebook.com/eryc.dance"}
  %a.icon.twitter.icon-twitter-squared{href:"https://www.twitter.com/eryctaylordance"}
  %a.icon.linkedin.icon-linkedin-squared{href:"https://www.linkedin.com/pub/eryc-taylor/3/669/70a"}
  %a.icon.youtube.icon-youtube-squared{href:"https://www.youtube.com/eryctaylordance"}
  %a.icon.instgram.icon-instagramm{href:"https://instagram.com/eryctaylordance"}
  %a.icon.vimeo.icon-vimeo-squared{href:"https://vimeo.com/eryctaylordance"}