@import mixins

body
  font-family: $primary-font
  text-rendering: optimizeLegibility
  font-smooth: always
  font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  background-color: white
  color: $primary-text-color
  font-size: 20px

a
  color: $primary-text-color
  text-decoration: none

  &:hover
    color: $hover-text-color
    text-decoration: none
    text-shadow: 0.05em 0.05em 0.2em $secondary-text-color
    cursor: pointer

@viewport
  zoom: 1.0
  width: device-width
@-ms-viewport
  zoom: 1.0
  width: device-width

main
  margin-top: $header-height
  position: relative
  height: 100%
  width: 100%
  background-color: $main-bg
  margin: 0 auto
  z-index: 15
  min-height: 100vh

  .block-container:last-child
    border-bottom: 1px solid

.social-media
  a.icon
    &:hover
      text-shadow: none

input.dark, textarea.dark
  display: block
  padding: 7px
  width: 500px
  margin: 0 auto
  margin-bottom: 10px
  border: 1px solid white
  background-color: $primary-color
  color: white

  &:hover, &:focus
    border: 1px solid lightblue
    box-shadow: 0 0 20px lightblue

.button
  margin-top: 40px
  width: 200px
  text-transform: uppercase
  background-color: $primary-color
  font-weight: 600
  text-align: center
  cursor: pointer

  &:hover
    background-color: white
    color: black
