---
title: Events Template
listed: false
published: true
position: 1
content_type: "events"
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title {{ event.name }}
    {% if event.start_time != undefined %}
    {% if event.end_time != undefined %}
    .text {{ event.date | localized_date: '%B %d, %Y' }} - {{ event.start_time }} to {{ event.end_time }}
    {% else %}
    .text {{ event.date | localized_date: '%B %d, %Y' }} - {{ event.start_time }}
    {% endif %}
    {% else %}
    .text {{ event.date | localized_date: '%B %d, %Y' }}
    {% endif %}

    {% if event.location != undefined %}
    .text {{ event.location }}
    {% endif %}

{% if event.description %}
.block-container.light
  .block.full
    .text {{ event.description }}
{% endif %}

{% if event.location_link %}
.block-container.dark
  %iframe.googlemap{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyCzDWT5UsVx2JlZG6ykzfDqxesZ8aW6hPo&q={{ event.location_link }}", :style => "border:0", :width => "600"}
{% endif %}
{% endblock %}