---
title: People
published: true
listed: true
position: 1
parent: About
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title THE COMPANY
{% assign eryc = contents.people.first %}
.block-container.light
  .block.full
    .title Artistic Director<br><br>
    .profile
      %img{src: "{{ eryc.picture.url }}"}
      .info-container
        .name {{ eryc.name }}
        .role {{ eryc.position }}
        .bio {{ eryc.bio }}

.block-container.dark
  .block.full
    .tabs
      .tab{id: "Dancer", onclick: 'filterPeople("Dancer")'} DANCERS
      %span -
      .tab{id: "PastDancer", onclick: 'filterPeople("PastDancer")'} PAST DANCERS
      %span -
      .tab{id: "Collaborator", onclick: 'filterPeople("Collaborator")'} COLLABORATORS
      %span -
      .tab{id: "Board", onclick: 'filterPeople("Board")'} BOARD OF DIRECTORS
      %span -
      .tab{id: "Staff", onclick: 'filterPeople("Staff")'} STAFF
    .people-list
      {% for person in contents.people %}
      %a.person{id: "{{person.role}}", href: "/people/{{ person._slug }}"}
        .picture{style: 'background-image:url("{{ person.picture.url }}");'}
        .overlay
          .name {{ person.name }}
      {% endfor %}

  :javascript
    function filterPeople(id) {
      $(".person").hide();
      $(".person#" + id).show();
      $(".tab").removeClass("active");
      $(".tab#" + id).addClass("active");
    }
    $(document).ready(function() {
      filterPeople("Dancer");
    })

{% endblock %}
