---
title: About
published: true
listed: true
position: 2
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title About Us
    .text Eryc Taylor Dance, Inc. is a New York City based not-for-profit corporation with a mission to advance appreciation of dance and educate the public about dance by creating and presenting original performances, conducting master classes and workshops, and making grants to aspiring choreographers.
.block-container.light
  .block.full
    .title Our Style
    .text ETD's choreography seeks to find, explore and execute new points of view and combine varied styles of dance on and off pointe. The work displays a fierce desire to attain a bold physicality that strips away the movement to its essential core, and has a strength, energy and drama that carries its own. The structures of the dance deal with underlying impulses that reveal one's psyche creating a sense of bold honesty.
.block-container.dark
  .block.full
    .title What We Do
    .text ETD also strives to stay ahead of the curve, collaborating with digital artists and unique composers, to fuse the new age of technology with the classical compositions of music and dance. Specifically, ETD specializes in mapping and light projections, to create ethereal extensions of the dancers and stimulate the visual senses with grandiose illuminations.

{% assign eryc = contents.people.first %}
.block-container.light
  .block.full
    .profile
      %img{src: "{{ eryc.picture.url }}"}
      .info-container
        .name {{ eryc.name }}
        .role {{ eryc.role }}
        .bio {{ eryc.bio }}

.block-container.dark
  .block.full
    .title The People
    .text This is going to be something cheesy about how our people are special and great blah blah blah. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
    %a.link Meet The Group
{% endblock %}
