---
title: Contact
published: true
listed: false
position: 1
---
{% extends default %}

{% block main %}
.block-container.dark
  .block.full
    .title Talk To Us
    .contact-block
      %form{action: "{{ contents.contact_submissions.public_submission_url}}", method: "POST"}
        {% csrf_param %}
        %input{type: "hidden", value: "/contact", name: "success_callback"}
        %input{type: "hidden", value: "/contact", name: "error_callback"}

        {% if contact_submission.errors %}
        {% if contact_submission.errors.size > 0 %}
        .errors
          %p The following errors occured:
          %ul
            {% for error in contact_submission.errors %}
            %li {{ error[0] | capitalize }} -  {{error[1]}}
            {% endfor %}
        {% else %}
        .success
          %p Your message was sent successfully!
        {% endif %}
        {% endif %}

        %input.dark{type: "text", name: "content[name]", value: "{{ contact_submission.name }}", placeholder: "Name"}
        %input.dark{type: "text", name: "content[email]", value: "{{ contact_submission.email }}", placeholder: "Email"}
        %textarea.dark{name: "content[message]", placeholder: "Please enter your message and any relevant contact information here."} {{ contact_submission.message }}
        %input.dark.button{type: "submit", value: "Send"}

.block-container.light
  .block.full
    .title Contact Us
    .text
      %a{href: "mailto:andrew@eryctaylordance.com"} andrew@eryctaylordance.com
    .text (475)235-1268

.block-container.dark
  .block.full
    .title Find Us
    .text.address ERYC TAYLOR DANCE<br>450 42ND ST<br>NEW YORK CITY, NY<br>10036

{% endblock %}