---
title: Events
published: true
listed: true
position: 1
---
{% extends default %}

{% block main %}
.block-container.dark
  .block.full
    .title UPCOMING EVENTS
    {% for event in contents.events %}
    {% if event.date > today %}
    .event-block
      .name {{ event.name | escape }}
      .date Date: {{ event.date | localized_date: '%B %d %Y' }}
      {% if event.start_time != undefined %}
      {% if event.end_time != undefined %}
      .time Time: {{ event.start_time }} - {{ event.end_time }}
      {% else %}
      .time Time: {{ event.start_time }}
      {% endif %}
      {% endif %}
      .description {{ event.description | escape }}
      %a.link{href: "/events/{{ event._slug }}"} Click for more information
    {% endif %}
    {% endfor %}
.block-container.light
  .block.full
    .title PAST EVENTS
    {% for event in contents.events %}
    {% if event.date < today %}
    .event-block
      .name {{ event.name | escape }}
      .date Date: {{ event.date | localized_date: '%B %d %Y' }}
      .description {{ event.description | escape }}
    {% endif %}
    {% endfor %}
{% endblock %}
