---
title: Home
published: true
---
!!!
{% extends default %}

{% block main %}
{% capture video_url %}{% editable_file "Banner Video" %}/samples/videos/banner.mp4{% endeditable_file %}{% endcapture %}
.banner-container
  .banner
    %video{id: "banner-video", width: "1024", height: "500", loop: true, autoplay: true, muted: true}
      %source{src: "{{ video_url }}", type: "video/mp4"}
    .play.button{onclick: "playPause()", style: "display:none"}
    .pause.button{onclick: "playPause()"}
    .mute.button{onclick: "muteUnmute()", style: "display:none"}
    .unmute.button{onclick: "muteUnmute()"}

    :javascript
      function playPause() {
        var video = document.getElementById("banner-video")
        if (video.paused) {
          video.play();
          $('.play.button').hide();
          $('.pause.button').show();
        }
        else {
          $('.play.button').show();
          $('.pause.button').hide();
          video.pause();
        }
      }
      function muteUnmute() {
        var video = document.getElementById("banner-video")
        video.muted = !video.muted;
        if (video.muted) {
          $('.mute.button').hide();
          $('.unmute.button').show();
        }
        else {
          $('.mute.button').show();
          $('.unmute.button').hide();
        }
      }

.block-container.dark
  .block
    .title.event-title Upcoming Events
    .events
      .today Today: {{ today | localized_date: '%B %d %Y'}}
      == {% for event in contents.events limit:5 %}
      .event{id: "{{ event._slug | escape }}", onclick: "show(\"{{ event._slug | escape }}\")"}
        .name {{ event.name | escape }}
        .hint Click for details
        .date {{ event.date | localized_date: '%B %d %Y' }}
      == {% endfor %}

  :javascript
    function show(id) {
      $(".event-block").hide();
      $(".event-block#" + id).show(100);
    }

.block-container.light
  .block
    .title Eryc Taylor Dance, Inc.
    .text We are a New York City based not-for-profit corporation with a mission to advance the appreciation of dance and educate the public about dance by creating and presenting original performances, conducting master classes and workshops, and making grants to aspiring choreographers.

== {% for event in contents.events limit:5 %}
.event-block{id: "{{ event._slug | escape }}", style: "display:none"}
  .name {{ event.name | escape }}
  .date Date: {{ event.date | localized_date: '%B %d %Y' }}
  {% if event.start_time != undefined %}
  {% if event.end_time != undefined %}
  .time Time: {{ event.start_time }} - {{ event.end_time }}
  {% else %}
  .time Time: {{ event.start_time }}
  {% endif %}
  {% else %}
  .date {{ event.date | localized_date: '%B %d %Y' }}
  {% endif %}
  .description {{ event.description | escape }}
  %a.link Click here to go to event page
  %a.close{onclick: "hide(\"{{ event._slug | escape }}\")"} x
{% endfor %}
:javascript
  function hide(id) {
    $(".event-block#" + id).hide();
  }
{% endblock %}
