---
title: Home
published: true
---
!!!
{% extends default %}

{% block main %}
{% capture video_url %}{% editable_file "Banner Video" %}/samples/videos/banner.mp4{% endeditable_file %}{% endcapture %}
.banner-container
  .banner
    .title ERYC TAYLOR DANCE
    %video{id: "banner-video", width: "1024", height: "500", loop: true, autoplay: true, muted: true}
      %source{src: "{{ video_url }}", type: "video/mp4"}
    .play.button{onclick: "playPause()", style: "display:none"}
    .pause.button{onclick: "playPause()", style: "display:none"}
    .mute.button{onclick: "muteUnmute()", style: "display:none"}
    .unmute.button{onclick: "muteUnmute()", style: "display:none"}

    :javascript
      document.getElementById("banner-video").oncanplay = function() {
        $('.pause.button').show();
        $('.unmute.button').show();
        $('.banner .title').hide();
      };

      function playPause() {
        var video = document.getElementById("banner-video")
        if (video.paused) {
          video.play();
          $('.play.button').hide();
          $('.pause.button').show();
        }
        else {
          $('.play.button').show();
          $('.pause.button').hide();
          video.pause();
        }
      }
      function muteUnmute() {
        var video = document.getElementById("banner-video")
        video.muted = !video.muted;
        if (video.muted) {
          $('.mute.button').hide();
          $('.unmute.button').show();
        }
        else {
          $('.mute.button').show();
          $('.unmute.button').hide();
        }
      }

.block-container.dark
  .block.full
    .block.left
      .overlay.contribute
        .title Contribute
      .title Contribute
      .text We are a not-for-profit corporation that is exempt from federal taxation. Contributions in support of Eryc Taylor's work are fully tax-deductible and greatly appreciated! Thank you for your support!
      %form.link{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
        %input{:name => "cmd", :type => "hidden", :value => "_donations"}
          %input{:name => "business", :type => "hidden", :value => "eryc@eryctyalordance.com"}
            %input{:name => "lc", :type => "hidden", :value => "US"}
              %input{:name => "item_name", :type => "hidden", :value => "Eryc Tyalor Dance"}
                %input{:name => "no_note", :type => "hidden", :value => "0"}
                  %input{:name => "currency_code", :type => "hidden", :value => "USD"}
                    %input{:name => "bn", :type => "hidden", :value => "PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"}
                      %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}
                        %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}

    .block.right
      .overlay.about
        .title About Us
      .title About Us
      .text We are a New York City based not-for-profit corporation with a mission to advance the appreciation of dance and educate the public about dance by creating, teaching and inspiring.
      %a.link{href: "/about"} Learn More

    .block.full
      .overlay.newsletter
        .title Newsletter
      .title Join Our Newsletter
      %input.dark{placeholder: "Enter Your Email Here"}
      %input.dark.button{type: "submit", value: "Submit"}

.block-container.light
  .block.full
    .title.event-title Upcoming Events
    .events
      .today Today: {{ today | localized_date: '%B %d %Y'}}
      {% for event in contents.events limit:5 %}
      .event{id: "{{ event._slug | escape }}", onclick: "show(\"{{ event._slug | escape }}\")"}
        .name {{ event.name | escape }}
        .hint Click for details
        .date {{ event.date | localized_date: '%B %d %Y' }}
      {% endfor %}
      %a.link{href:"/events"} See more events

  :javascript
    function show(id) {
      $(".event-popup").hide();
      $(".event-popup#" + id).show();
    }

.block-container.dark
  .block.full
    %iframe.imgur-album{:frameborder => "0", :height => "550", :src => "{{ contents.galleries.first.link }}/embed?background=373737&text=ffffff&link=FFFFFF", :width => "100%"}

{% for event in contents.events limit:5 %}
.event-popup{id: "{{ event._slug | escape }}", style: "display:none"}
  .name {{ event.name | escape }}
  .date Date: {{ event.date | localized_date: '%B %d %Y' }}
  {% if event.start_time != undefined %}
  {% if event.end_time != undefined %}
  .time Time: {{ event.start_time }} - {{ event.end_time }}
  {% else %}
  .time Time: {{ event.start_time }}
  {% endif %}
  {% endif %}
  .description {{ event.description | escape }}
  %a.link{href: "/events/{{ event._slug }}"} Click here to go to event page
  %a.close{onclick: "hide(\"{{ event._slug | escape }}\")"} x
{% endfor %}
:javascript
  function hide(id) {
    $(".event-popup#" + id).hide();
  }
{% endblock %}
