---
title: Home
published: true
---
!!!
{% extends default %}

{% block main %}
{% capture video %}{% editable_file "video" %}{% endeditable_file %}{% endcapture %}
%video.banner{width: "1024", height: "500", loop: true, autoplay: true}
  %source{src: "{{ video }}", type: "video/mp4"}

.block-container.light
  .block
    .title Eryc Taylor Dance, Inc.
    .text We are a New York City based not-for-profit corporation with a mission to advance the appreciation of dance and educate the public about dance by creating and presenting original performances, conducting master classes and workshops, and making grants to aspiring choreographers.
{% endblock %}
