---
title: Press
published: true
listed: true
position: 3
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title See What People Are Saying
    .articles-container
      {% for article in contents.articles limit: 5 %}
      .article{id: "index-{{ forloop.index }}"}
        %img{src: "{{ article.image.url }}"}
        .name {{ article.name }}
        {% if article.source == "external" %}
        %a{href:"{{ article.link }}"}
        {% else %}
        %a{href:"/articles/{{ article._slug }}"}
        {% endif %}
      {% endfor %}

      :javascript
        $(document).ready(function() {
          var container = $('.articles-container');
          var width = container.width()/5;
          var height = width
          container.height(2*height);
          articles = $('.article');
          $(articles[0]).css({ height: 2*height, width: 2*width })
          $(articles[1]).css({ height: height, width: 2*width, left: 2*width });
          $(articles[2]).css({ height: height, width: width, left: 4*width });
          $(articles[3]).css({ height: height, width: width, left: 2*width, top: height })
          $(articles[4]).css({ height: height, width: 2*width, left: 3*width, top: height })
        })

    %a.link{href:"press/reviews"} See More Reviews

.block-container.light
  .block.full
    .title Book Us
    {% editable_text "booking_message", hint: "Information on how to book Eryc Taylor Dance." %}
    .text Here is some info on how to book us. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
    {% endeditable_text %}
    %a.link{href:"/contact"} Get in Touch

{% endblock %}
