---
title: Programs
published: true
listed: true
position: 4
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title Our Programs
    .program-buttons
      %a.button.program.grants{href:"/programs/#grants"} Grants
      %a.button.program.workshops{href:"/programs/#workshops"} Workshops
      %a.button.program.residencies{href:"/programs/#residencies"} Residencies
      %a.button.program.jobs{href:"/programs/#jobs"} Jobs/Internships

%a{name: "grants"}
.block-container.light
  .block.full
    .title Grant
    {% editable_text "grant_message" %}
    .text Blurb describing the general idea of your grants. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    {% endeditable_text %}
    .program-list{id: "grantsid"}
      {% for program in contents.programs %}
      {% if program.type == "Grant" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

%a{name: "workshops"}
.block-container.dark
  .block.full
    .title Workshops
    {% editable_text "workshop_message" %}
    .text Blurb describing the general idea of your workshops. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    {% endeditable_text %}
    %a.program-list-title{onclick: "toggleProgramList('#workshopsid')"} Available Workshops +
    .program-list{id: "workshopsid", style: "display: none;"}
      {% for program in contents.programs %}
      {% if program.type == "Workshop" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

%a{name: "residencies"}
.block-container.light
  .block.full
    .title Residencies
    {% editable_text "residency_message" %}
    .text Blurb describing the general idea of your residency. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    {% endeditable_text %}
    %a.program-list-title{onclick: "toggleProgramList('#residenciesid')"} Available Residencies +
    .program-list{id: "residenciesid", style: "display: none;"}
      {% for program in contents.programs %}
      {% if program.type == "Residency" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

%a{name: "jobs"}
.block-container.dark
  .block.full
    .title Jobs & Internships
    {% editable_text "job_message" %}
    .text Blurb describing the general idea of your jobs and internships. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    {% endeditable_text %}
    %a.program-list-title{onclick: "toggleProgramList('#jobsid')"} Available Jobs and Internships +
    .program-list{id: "jobsid", style: "display: none;"}
      {% for program in contents.programs %}
      {% if program.type == "Job" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% if program.type == "Internship" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

:javascript
  function toggleProgramList(id) {
    console.log(id);
    if ($(id).css("display") == "none") $(id).slideDown(300);
    else $(id).slideUp(300);
  }

{% endblock %}
