---
title: Programs
published: true
listed: true
position: 4
---
{% extends default %}
{% block main %}
.block-container.dark
  .block.full
    .title Our Programs
    .program-buttons
      %a.button.program.grants Grants
      %a.button.program.workshops Workshops
      %a.button.program.residencies Residencies
      %a.button.program.jobs Jobs/Internships

:javascript
  $(document).ready(function() {
    $('.button.program.grants').on("click", function() {
      $(document).scrollTop(0);
    });
    $('.button.program.workshops').on("click", function() {
      $(document).scrollTop(500);
    });
    $('.button.program.residencies').on("click", function() {
      $(document).scrollTop(1000);
    });
    $('.button.program.jobs').on("click", function() {
      $(document).scrollTop(1514);
    });
  });

%a{name: "grants"}
.block-container.light
  .block.full
    .title Grant
    .text Blurb describing the general idea of your grants. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    .program-list{id: "grants"}
      {% for program in contents.programs %}
      {% if program.type == "Grant" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

%a{name: "workshops"}
.block-container.dark
  .block.full
    .title Workshops
    .text Blurb describing the general idea of your workshops. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    %a.program-list-title{onclick: "toggleProgramList(workshops)"} Available Workshops +
    .program-list{id: "workshops", style: "display: none;"}
      {% for program in contents.programs %}
      {% if program.type == "Workshop" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

%a{name: "residencies"}
.block-container.light
  .block.full
    .title Residencies
    .text Blurb describing the general idea of your residency. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    %a.program-list-title{onclick: "toggleProgramList(residencies)"} Available Residencies +
    .program-list{id: "reidencies", style: "display: none;"}
      {% for program in contents.programs %}
      {% if program.type == "Residency" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

%a{name: "jobs"}
.block-container.dark
  .block.full
    .title Jobs & Internships
    .text Blurb describing the general idea of your jobs and internships. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ex, scelerisque ut ullamcorper vitae, efficitur a diam.
    %a.program-list-title{onclick: "toggleProgramList(jobs)"} Available Jobs and Internships +
    .program-list{id: "jobs", style: "display: none;"}
      {% for program in contents.programs %}
      {% if program.type == "Job" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% if program.type == "Internship" %}
      %a.program{href: "/programs/{{ program._slug }}"} {{ program.name }}
      {% endif %}
      {% endfor %}

:javascript
  function toggleProgramList(id) {
    if ($(id).css("display") == "none") $(id).slideDown(300);
    else $(id).slideUp(300);
  }

{% endblock %}
